/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --themeDeep: 0, 101, 87; /* #006557 */
    --theme: 6, 30, 34; /* #061E22 */
    --themeLight: 0, 76, 65; /* #004C41 */
    --themeDarkLight: 20, 50, 55; /* #143237 */
    --themeLighter: 0, 59, 51; /* #003B33 */
    --themeSecondary: 162, 125, 83; /* #A17D53 */
    --colorLight: 206, 207, 210; /* #A17D53 */

    --trebuchet-ff: "Trebuchet MS", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #CECFD2;
    background-color: rgb(var(--theme));
}

/* Section Fade Animation */
.fade-section {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

/* Section Tile */
.section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.6px;

    font-family: "Trebuchet MS", sans-serif;
}

.section-title {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.section-title.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 991px) {
    .section-title {
        font-size: 26px;
    }
}

.gradient-txt {
    background: linear-gradient(to right, #C19D73, #A17D53, #6D502E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-top-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: inline-block;
    letter-spacing: 0.6px;
    margin: 0 10px 0 10px;
}

.section-top-devider {
    width: 65px;
    position: relative;
    display: inline-block;
}

.section-top-devider::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.sec-devider-theme:before {
    background-color: rgb(var(--theme));
}

.sec-devider-light:before {
    background-color: #ffffff;
}

.big-title {
    font-family: Trebuchet MS;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

/* Text Image Background */
.text-img-bg {
    background: url('./images/image.png') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-btn {
    opacity: 0.8;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    min-width: 135px;
    min-height: 40px;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    background-color: rgb(var(--themeLight));
}

.section-btn:hover {
    opacity: 1;
}

/* Buttons */
.theme-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 100%;
    position: relative;
    border-radius: 6px;
    padding: 12px 24px;
    letter-spacing: 0px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    font-family: "Roboto", sans-serif;
}

/* Primary Button */
.primary-btn {
    border: 0;
    background: linear-gradient(to right, #C19D73, #A17D53, #6D502E);
}

.primary-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #6D502E, #A17D53, #C19D73);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}

.primary-btn:hover::before {
    opacity: 1;
}

.primary-btn:focus::before {
    opacity: 0;
}

.primary-btn span {
    color: #fff;
    position: relative;
    z-index: 2;
}

/* Secondary Button */
.secondary-btn  {
    border: 1px solid #004C41;
    background-color: #004C41;
}

.secondary-btn:hover {
    background-color: #006557;
}

.secondary-btn:focus {
    border: 1px solid #008774;
    background-color: #143237;
}

/* Outline Button */
.outline-btn {
    border: 1px solid #ffffff;
    background-color: transparent;
}

.outline-btn:hover {
    background-color: #161B26;
}

.outline-btn:focus {
    background-color: #0C111D;
}

/* Filled Button */
.filled-btn {
    color: #143237;
    border: 1px solid #143237;
    background-color: #fafafa;
}

.filled-btn:hover {
    color: #143237;
    border: 1px solid #143237;
    background-color: #CECFD2;
}

.filled-btn:focus {
    color: #143237;
    border: 1px solid #143237;
    background-color: #FAFAFA;
}

/* Contact Us Button */
.contact-us-btn {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #003B33;
    border: 1px solid #333741;
    box-shadow: 0px 4px 4px 0px #15556033;
}

.contact-us-btn:hover {
    background-color: #006557;
}

.contact-us-btn:focus {
    background-color: #007F6D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px #15556033;
}

.contact-us-btn img {
    height: 35px;
    width: 35px;
}

/* Contact Us Button Mbl */
.contact-us-btn-mbl {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #003B33;
    border: 1px solid #333741;
    box-shadow: 0px 4px 4px 0px #15556033;
}

.contact-us-btn-mbl:hover,
.contact-us-btn-mbl:focus {
    background-color: #006557;
}

.contact-us-btn-mbl img {
    height: 20px;
    width: 20px;
}

/* Section */
.section {
    padding: 80px 0;
}

.section-devider {
    height: 10px;
    background-color: #143237;
}

@media (max-width: 767px) {
    .section {
        padding: 40px 0;
    }

    .section-devider {
        height: 5px;
        background-color: #143237;
    }
}

/* Height & Width */
.h-2 {
    height: 2px;
}

.h-33 {
    height: 33px;
}

.h-56 {
    height: 56px;
}

.h-64 {
    height: 64px;
}

.h-70 {
    height: 70px;
}

.w-56 {
    width: 56px;
}

.w-64 {
    width: 64px;
}

.w-70 {
    width: 70px;
}

@media (max-width: 767px) {
    .w-20-mx-767 {
        width: 20px;
    }
}

/* Cover Image */
.object-fit-cover {
    object-fit: cover;
    object-position: center;
}

/* Font Family */
.ff-trebuchet {
    font-family: var(--trebuchet-ff);
}

/* Background Color */
.bg-heme {
    background-color: rgb(var(--theme));
}

.bg-lighter {
    background-color: rgb(var(--themeLighter));
}

.bg-dark-light {
    background-color: rgb(var(--themeDarkLight));
}

.color-dark-deep {
    color: rgb(var(--themeDeep));
}

.bg-dark-deep {
    background-color: rgb(var(--themeDeep));
}

.bg-light-color {
    color: rgb(var(--colorLight));
}

/* Font Size */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-26 {
    font-size: 26px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-10vw {
    font-size: 10vw;
}

@media (max-width: 991px) {
    .fs-16-mx-991 {
        font-size: 16px;
    }

    .fs-18-mx-991 {
        font-size: 18px;
    }

    .fs-26-mx-991 {
        font-size: 26px;
    }

    .fs-30-mx-991 {
        font-size: 30px;
    }

    .fs-14-mx-991 {
        font-size: 14px;
    }
}

/* Font Weight */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

@media (max-width: 991px) {
    .fw-400-mx-991 {
        font-weight: 400;
    }
}

/* Letter Spacing */
.ls-p6 {
    letter-spacing: 0.6px;
}

/* Position */
.b--5 {
    bottom: -5px;
}

.r--5 {
    right: -5px;
}

/* Line Height */
.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

/* Z-Index */
.z-index-9 {
   z-index: 9;
}

@media (min-width: 1200px) {
    .display-1 {
        font-size: 6rem;
    }
}

/* Border */
.theme-bb-1 {
    border-bottom: 1px solid rgb(var(--theme));
}

/* Margin */
.mt-82 {
    margin-top: 82px;
}

/* Text Alignment */
.text-start-i {
    text-align: start !important;
}

/* Nav Tab */
.nav-pills .nav-link {
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.nav-pills .nav-link:hover {
    color: #FAFAFA;
    border: 2px solid rgb(var(--theme));
    background-color: rgb(var(--theme));
    transition: all 0.4s ease-in-out;
}

.nav-pills .nav-link.active {
    opacity: 1;
    color: rgb(var(--theme));
    border: 2px solid #FAFAFA;;
    background-color: #FAFAFA;;
    transition: all 0.4s ease-in-out;
}

.nav-pills .nav-link.active:hover {
    opacity: 0.8;
}

/* Slider */
/* Slider Buttons */
.slick-prev, .slick-next {
    font-size: 24px;
    color: #000;
    z-index: 1000;
}
.slick-prev::before, .slick-next::before {
    display: none;
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 18px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #009883;
    transition: all 0.4s ease-in-out;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.slick-prev:hover,
.slick-next:hover{
    color: #0C111D;
    background-color: #007F6D;
}

.slick-prev:focus,
.slick-next:focus {
    color: #ffffff;
    background-color: #006557;
}

.slider-container .slider {
    position: relative;
    overflow: hidden;
}

.slider-container .slider > div {
    position: relative;
    z-index: 9;
}

.slider-container .slider > div::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    position: absolute;
    display: block;
    z-index: 99;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.slider-container:hover .slider > div::before {
    height: 100%;
    background-color: rgb(var(--theme), 0.5);
}

.slider-container .slider .slick-slide {
    position: relative;
    overflow: hidden;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.slider-container .slider .slick-slide img {
    transition: transform 1s ease-in-out;
}

.slider-container:hover .slider .slick-slide > img {
    animation: zoomInOut 10s infinite ease-in-out;
}

.slider .slick-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    opacity: 0;
    z-index: 9999;
    transform: translateX(-50%);
    transition: opacity 0.4s ease-in-out;
}

.slider:hover .slick-dots {
    opacity: 1;
}

.slider-container .slider .slick-dots li button:before {
    opacity: 1;
    font-size: 18px;
    color: #61646C;
    border-radius: 50%;
    border: 1px solid #85888E;
    transition: all 0.4s ease-in-out;
}

.slider-container .slider .slick-dots li button:hover:before {
    border: 1px solid #ffffff;
}

.slider-container .slider .slick-dots li.slick-active button:before {
    color: #ffffff;
}

/* Text Overflow */
.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-ellipsis-2l {
    -webkit-line-clamp: 2;
}

/* Navbar - Start */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: rgb(var(--theme)) !important;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
}

.navbar .navbar-toggler {
    border: 0;
    box-shadow: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    filter: invert(100%)
}

@media (min-width: 576px) {
    .navbar .navbar-brand img {
        height: 40px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .navbar .navbar-brand img {
        height: auto;
        width: 100%;
        max-width: 150px;
    }

    .navbar .ex-btn .theme-btn {
        padding: 8px 12px;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-collapse {
        border-top: 10px solid #143237;
        margin-top: 20px;
        padding-top: 10px;
    }

    .navbar .nav-item {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 2px solid #143237;
    }

    .navbar .nav-item:first-child {
        /*border-top: 2px solid #143237;*/
    }

    .navbar .nav-item:last-child {
        border: 0;
    }

    .navbar .navbar-nav.mx-auto .nav-item:last-child {
        border-bottom: 2px solid #143237;
    }
}
/* Navbar - End */

/* Hero Slider - Start */
.hero-slider {
    padding-top: 82px;

    z-index: 2;
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero-img.png");
}

.hero-slider::before {
    content: "";
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(var(--theme), 0.50);
}

.hero-slider .title {
    font-family: Trebuchet MS;
    font-weight: 700;
    font-size: 94px;
    line-height: 107%;
    letter-spacing: 0.6px;
}

.hero-slider .section-top-title {
    font-family: Trebuchet MS;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.6px;
}

@media (max-width: 1199px) {
    .hero-slider .title {
        font-size: 62px;
    }

    .hero-slider .section-top-title {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .hero-slider .title {
        font-size: 42px;
        line-height: 115%;
    }

    .hero-slider .section-top-title {
        font-size: 16px;
    }
}
/* Hero Slider - End */

/* Services - Start */
@media (max-width: 991px) {
    .services .theme-btn {
        min-width: 70%;
    }
}

@media (max-width: 767px) {
    .services .theme-btn {
        min-width: 100%;
    }
}

@media (max-width: 575px) {
    .services .icon-content {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* Services - End */

/* Projects - Start */
.projects .projects-container > div {
    display: none;
}

@media (min-width: 768px) {
    .projects .projects-container > div:nth-child(1),
    .projects .projects-container > div:nth-child(2),
    .projects .projects-container > div:nth-child(3),
    .projects .projects-container > div:nth-child(4),
    .projects .projects-container > div:nth-child(5),
    .projects .projects-container > div:nth-child(6) {
        display: block;
    }
}

@media (max-width: 767px) {
    .projects .projects-container > div:nth-child(1),
    .projects .projects-container > div:nth-child(2),
    .projects .projects-container > div:nth-child(3) {
        display: block;
    }
}
/* Projects - End */

/* Values - Start */
.values .circle {
    background-color: #D9F2EF;
    border: 5px solid #ffffff;
}
/* Values - End */

/* How to work - start */
.how-it-works img {
    height: 320px;
    width: 320px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -40%;
    margin-right: -35%;
    object-position: left;
}

@media (max-width: 767px) {
    .how-it-works img {
        margin-top: -30%;
        margin-right: -25%;
    }
}
/* How to work - end */

/* Youtube Video Overlay Blur - Start */
.overlay-blur-bg {
    position: relative;
}

.overlay-blur-bg::before {
    content: "";
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    /*filter: blur(2px);*/
    backdrop-filter: blur(2px);
    background-color: rgb(6 30 34 / 30%);
}
/* Youtube Video Overlay Blur - End */

/* Modal Close Btn - Start */
.video-close-btn {
    position: absolute;
    top: -60px;
    right: 0;
    border: 0;
    opacity: 0.8;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: darkred;
    transition: all 0.4s ease-in-out;
}

.video-close-btn:hover {
    opacity: 1;
}
/* Modal Close Btn - End */

/* Contact Hero - Start */
.contact-hero {
    /*padding-top: 82px;*/

    z-index: 2;
    /*height: 100vh;*/
    /*min-height: 600px;*/
    padding: 162px 0 80px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-hero::before {
    content: "";
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(var(--theme), 0.75);
}

.contact-hero .form-content {
    background-color: #EAECF0;
}

.contact-hero .form-content label {
    color: #2C394B;
    font-weight: 500;
    margin-bottom: 1px;
}

.contact-hero .form-content input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    background-color: #FAFAFA;
}

.contact-hero .form-content input:focus,
.contact-hero .form-content textarea:focus {
    box-shadow: none;
    border: 1px solid rgb(var(--theme));
}

.contact-hero .overlay-text {
    color: #010E04;
    font-size: 18vw;
    z-index: -1;
    opacity: 0.3;
    white-space: nowrap;
}
/* Contact Hero - End */

/* Projects Details - Start */
/* Lightbox Layout */
.items-details-container .images-lightbox .lightbox-image-container {
    display: grid;
    /* width: 940px;
    height: 392px; */
    border-radius: 8px;
    gap: 16px;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "pic1 pic2"
        "pic1 pic3";
}

.items-details-container .images-lightbox .lightbox-image-container img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.items-details-container .images-lightbox .lightbox-image-container img:nth-child(1) {
    grid-area: pic1;
    display: block !important;
}

.items-details-container .images-lightbox .lightbox-image-container img:nth-child(2) {
    grid-area: pic2;
    display: block !important;
}

.items-details-container .images-lightbox .lightbox-image-container img:nth-child(3) {
    grid-area: pic3;
    display: block !important;
}

/* Modal */
.items-details-container .images-lightbox .view-more {
    border-radius: 6px;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 11px;
    min-height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    color: #414143;
    position: absolute;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: none;
}

.items-details-container .images-lightbox .view-more:hover {
    bottom: 14px;
}

.items-details-container .more-photos {
    position: absolute;
    bottom: 10px;
    right: -5px;
}

#gridModal img {
    border-radius: 8px;
}

#gridModal,
#singleImageModal {
    z-index: 99999;
}

.details-page-slider {
    margin-bottom: 0 !important;
}

.details-page-slider .slick-dots li button:before {
    padding-top: 1px;
    font-size: 20px;
    color: #61646C;
    border-radius: 50%;
    border: 1px solid #85888E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 1;
    top: 20px;
    transform: scale(.9);
}

.details-page-slider .slick-dots li.slick-active button:before {
    color: #ffffff;
    border: 1px solid #61646C;
}

/* Gallery */
.lg-outer {
    z-index: 99999 !important;
}
/* Projects Details - End */

/* Team Member - Start */
.team-members .card img {
    max-width: 200px;
}
/* Team Member - End */

/* Affiliates - Section Start */
.affiliates .card {
    border: 2px solid rgb(var(--themeDarkLight));
}
/* Affiliates - Section End */

/* About US - Section Start */
@media (max-width: 991px) {
    .about-us .fs-10vw {
        font-size: 20vw;
    }
}

@media (max-width: 767px) {
    .about-us .fs-10vw {
        font-size: 24vw;
    }

    .team-members .pro-pic {
        width: 85px;
        height: 84px;
        object-fit: contain;
    }
}
/* About US - Section End */

/* Team Member - Section Start */
@media (max-width: 767px) {
    .team-members .pro-pic {
        width: 85px;
        height: 84px;
        object-fit: contain;
    }
}
/* Team Member - Section End */

/* Industry Compliance */
.industry-compliance .arrow-icon {
    width: 28px;
}

/*  Footer & Header */
.footer .logo {
    max-width: 170px;
}